BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #005ca2; TEXT-DECORATION: none
}
A:active {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0099ff; TEXT-DECORATION: underline
}

@media Print    
{
DIV.page {
	MARGIN: 0px; HEIGHT: 100%
}
    }
.UnderLine {
	FONT-WEIGHT: normal; MARGIN: 1px; COLOR: #0000ff; BORDER-TOP-STYLE: none; BORDER-BOTTOM: black 1px dashed; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif", Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 18px; TEXT-ALIGN: center
}
.UnderLineLeft {
	FONT-WEIGHT: normal; MARGIN: 1px; COLOR: #0000ff; BORDER-TOP-STYLE: none; BORDER-BOTTOM: black 1px dashed; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif", Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 18px; TEXT-ALIGN: left
}
.formthaitext {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif", Tahoma
}
.textform {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
.thaitext {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif", Tahoma
}
.thaitext_small {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif", Tahoma
}
.headthaitext {
	FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif", Tahoma
}
.CordiaUPC {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: CordiaUPC
}
